## Tmux Resurrect/Continuum
#  https://github.com/tmux-plugins/tmux-resurrect
set -g @plugin 'tmux-plugins/tmux-resurrect'
#  https://github.com/tmux-plugins/tmux-continuum
set -g @plugin 'tmux-plugins/tmux-continuum'

## Tmux menus
#  https://github.com/jaclu/tmux-menus
set -g @plugin 'jaclu/tmux-menus'
# set -g @menus_trigger 'x'
set -g @menus_location_x 'C'
set -g @menus_location_y 'C'
