## Enable status bar
set -g status on

## Position in window for status bar
set -g status-position bottom

## Interval in seconds to update status bar
set -g status-interval 5

## Set status bar theme
# set -g status-style fg=white,bg=black
set -g status-bg black
# set -g status-fg white

# Format for inactive windows
set -g window-status-format "#[fg=cyan] #W#[default] "

# Format for the active (current) window
set -g window-status-current-format "#[fg=white,bg=blue] Window: #W #[default]"

## Set status bar length limits
set -g status-left-length 40
set -g status-right-length 80

## Left section
set -g status-style fg=colour245,bg=colour234
set -g window-status-style fg=colour245,bg=colour234
set -g window-status-format " #I:#W "

## Center section
set -g window-status-current-style fg=colour234,bg=colour250,bold
set -g window-status-current-format " #I:#W "

## Right section
set -g status-left "#[fg=colour250,bg=colour234] [s:#S] [p:#P] "
set -g status-right "#[fg=colour245,bg=colour234] #{user}@#H#{?session_many_attached, [+],} | %y-%m-%d %H:%M #{tmux_mode_indicator} #{?client_prefix,#[reverse] [*] #[noreverse],}"
