## Fix colors over ssh
set -g default-terminal "tmux-256color"
## If 256color is enabled, enable truecolor/rgb
set -ga terminal-overrides ",xterm-256color*:Tc,screen-256color*:Tc,tmux-256color*:Tc"

## Bind & forward HOME & END keys
set -g xterm-keys on

## Default shell for tmux sessions
# set -g default-shell /bin/bash
{{ $zshPath := (trim (output "which" "zsh")) -}}
{{- $userVar := (env "USER") -}}
{{- $userShell := (index (splitList ":" (output "getent" "passwd" $userVar)) 6 | trim) -}}
{{- if and (ne $zshPath "") (eq $userShell $zshPath) -}}
set -g default-shell {{ $zshPath }}
{{- else -}}
set -g default-shell /bin/bash
{{- end }}

## Fix arrow keys not working in PuTTY
set -g terminal-overrides "xterm*:kLFT5=\eOD:kRIT5=\eOC:kUP5=\eOA:kDN5=\eOB:smkx@:rmkx@"

## Set repeat time in ms
set -g repeat-time 1000

# Address vim mode switching delay (http://superuser.com/a/252717/65504)
set -s escape-time 1

# Increase scrollback buffer size from 2000 to 50000 lines
set -g history-limit 50000

## Set aggressive resize
setw -g aggressive-resize on

## Exit terminal when there are no more sessions. Default: on
set -s exit-empty on
