#######################################################################
# Source this file in your ~/.bashrc, ~/.bash_aliases, or ~/.profile. #
#                                                                     #
# What:                                                               #
#   This script dynamically adds functionality to your shell, based   #
#    on software installed & the presence of filepaths.               #
#                                                                     #
#   For example, this loader file will initialize tools like uv, nvm, #
#    etc. It can also inject aliases & export env vars based on the   #
#     existence of a .shell_env.extra file (you have to create this). #
#######################################################################

# ------------------------------------------------------------------- #

#####################
# DEFAULT VARIABLES #
#####################

# Default terminal editor to use, if installed
DEFAULT_EDITOR="nvim"
# Fallback editor if
FALLBACK_EDITOR="nano"
## Array with bash_alias_OS_overrides
declare -a HOST_OS=( "ubuntu" "debian" "fedora" )
## Array with files to source, if they exist
declare -a SRC_FILES=( "$HOME/.bash_local_override" "$HOME/.bash_functions" "$HOME/.shell_env.extra")

#############
# CONFIGURE #
#############

## Set editor dynamically
if command -v nvim > /dev/null 2>&1; then
  export VISUAL="nvim"
elif command -v vim > /dev/null 2>&1; then
  export VISUAL="vim"
elif command -v nano > /dev/null 2>&1; then
  export VISUAL="nano"
elif command -v vi > /dev/null 2>&1; then
  export VISUAL="vi"
fi
## Set the $EDITOR value
export EDITOR="$VISUAL"

## Set $TERM env var
export TERM=tmux-256color

## Check for and source files in SRC_FILES array
for SRC_FILE in "${SRC_FILES[@]}"
do
  if [[ -f ~/$SRC_FILE ]]; then
    . ~/$SRC_FILE
  fi
done

## Check for and source OS alias overrides
for OS in "${HOST_OS[@]}"
do
  if [[ -f ~/.bash_aliases_$OS_override ]]; then
    . ~/.bash_aliases_$OS_override
  fi
done

## Source .bash_functions if it exists
if [[ -f "$HOME/.bash_functions" ]]; then
  . "$HOME/.bash_functions"
fi

## Bash

# Autocomplete from history
if [ -f /etc/bash_completion ]; then
  . /etc/bash_completion
fi

## Docker

# Tell Docker-Compose to use Docker build engine and BUILDKIT
export COMPOSE_DOCKER_CLI_BUILD=1
export DOCKER_BUILDKIT=1

###########
# ALIASES #
###########

if command -v lazygit -v 2>&1 /dev/null; then
  alias lg="lazygit"
fi

#################
# PROGRAM INITS #
#################

## Pyenv
if command -v pyenv > /dev/null 2>&1; then
  export PATH="$HOME/.pyenv/bin:$PATH"
  eval "$(pyenv init -)"
  eval "$(pyenv virtualenv-init -)"
fi

## NVM
if command -v nvm > /dev/null 2>&1; then
  export NVM_DIR="$HOME/.nvm"
  [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
  [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
fi

## Astral uv
if command -v uv > /dev/null 2>&1; then
    eval "$(uv generate-shell-completion bash)"
    eval "$(uvx --generate-shell-completion bash)"
fi

## Enable x-cmd if it's installed
[ ! -f "$HOME/.x-cmd.root/X" ] || . "$HOME/.x-cmd.root/X"

## Homebrew
# if command -v brew -v 2>&1 /dev/null; then
#     eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
#     # Disable Homebrew analytics
#     export HOMEBREW_NO_ANALYTICS=1
# fi
