#############
# Clipboard #
#############

##
# OLD VERSION
#
# This works, but I'm copying a section from this config below:
#   https://github.com/gpakosz/.tmux/blob/master/.tmux.conf#L126
#
# ## Enable clipboard integration
# set -s set-clipboard on

# ## Vi copy-mode bindings that yank to system clipboard
# bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel \
#   "~/.config/tmux/bin/clipboard copy"
# 
# bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel \
#   "~/.config/tmux/bin/clipboard copy"
##

## Copy to X11 clipboard
if -b 'command -v xsel > /dev/null 2>&1' 'bind y run -b "\"\$TMUX_PROGRAM\" \${TMUX_SOCKET:+-S \"\$TMUX_SOCKET\"} save-buffer - | xsel -i -b"'
if -b '! command -v xsel > /dev/null 2>&1 && command -v xclip > /dev/null 2>&1' 'bind y run -b "\"\$TMUX_PROGRAM\" \${TMUX_SOCKET:+-S \"\$TMUX_SOCKET\"} save-buffer - | xclip -i -selection clipboard >/dev/null 2>&1"'

## Copy to Wayland clipboard
if -b '[ "$XDG_SESSION_TYPE" = "wayland" ] && command -v wl-copy > /dev/null 2>&1' 'bind y run -b "\"\$TMUX_PROGRAM\" \${TMUX_SOCKET:+-S \"\$TMUX_SOCKET\"} save-buffer - | wl-copy"'

## Copy to macOS clipboard
if -b 'command -v pbcopy > /dev/null 2>&1' 'bind y run -b "\"\$TMUX_PROGRAM\" \${TMUX_SOCKET:+-S \"\$TMUX_SOCKET\"} save-buffer - | pbcopy"'

## Copy to Windows clipboard
if -b 'command -v clip.exe > /dev/null 2>&1' 'bind y run -b "\"\$TMUX_PROGRAM\" \${TMUX_SOCKET:+-S \"\$TMUX_SOCKET\"} save-buffer - | clip.exe"'
if -b '[ -c /dev/clipboard ]' 'bind y run -b "\"\$TMUX_PROGRAM\" \${TMUX_SOCKET:+-S \"\$TMUX_SOCKET\"} save-buffer - > /dev/clipboard"'

############
# Terminal #
############

## Set how longtmux waits for the first keypress of a repeating key, i.e. holding `j`, before it stops repeating
set -g repeat-time 600
## Make tmux wait 1ms before treating ESC as a command prefix
set -s escape-time 1

## Pass focus-in/focus-out events to application, i.e. when Neovim is running in Tmux
set -s focus-events on

## Set scrollback in shell history
set -g history-limit 50000

## Fix pane resizing when window size is changed
setw -g aggressive-resize on

## Exit tmux when there are no more sessions
set -s exit-empty on

## Advertise tmux-256color and enable true color in xterm-256color terminals
set -g default-terminal "tmux-256color"
set -ga terminal-overrides ",xterm-256color:Tc"

## Enable xterm-keys to accurately handle HOME and END keypresses
set -g xterm-keys on

## Fix Windows Terminal/WSL sending wrong HOME/END codes (Find/Select instead of Home/End)
#  Remap Home/End keys to send correct escape sequences that Neovim expects
bind-key -n Home send-keys Escape "[H"
bind-key -n End send-keys Escape "[F"

## Read user's shell
{{ $userVar := (env "USER") -}}
{{- $userShell := (index (splitList ":" (output "getent" "passwd" $userVar)) 6 | trim) -}}
{{- if eq $userShell "/usr/bin/zsh" -}}
set -g default-shell /usr/bin/zsh
{{- else -}}
set -g default-shell /bin/bash
{{- end }}

## Compatibility for keybinds like ALT+ARROWKEY on older terminals like PuTTY
# set -g terminal-overrides "xterm*:kLFT5=\\eOD:kRIT5=\\eOC:kUP5=\\eOA:kDN5=\\eOB:smkx@:rmkx@"

## Enable hyperlink clicking
set -as terminal-features ',*:hyperlinks'

## On tmux >3.2, allow apps running in tmux to receive and process certain
#  terminal sequences directly
if-shell 'tmux -V | grep -Eq "tmux 3\.[3-9]|tmux 4\."' \
  'set -g allow-passthrough on'

## Open new windows in the current path
bind c new-window -c "#{pane_current_path}"

###########
# Display #
###########

## Rename window to reflect current program
setw -g automatic-rename on

## Set terminal title
set -g set-titles on

## Slightly longer pane indicators display time
set -g display-panes-time 800 
## Slightly longer status messages display time
set -g display-time 1000

## Redraw status line evert N seconds
set -g status-interval 10

## Watch background windows for output/activity & notify
set -g monitor-activity on
## Disable on-screen flash/message tmux shows on notify
set -g visual-activity off

## Set visual bell and disable sound
set -g visual-bell on
set -g bell-action none

###########
# Buffers #
###########

## List paste buffers
bind b list-buffers
## Paste from top paste buffer
bind p paste-buffer -p
## Choose which buffer to paste from
bind P choose-buffer

#########
# Mouse #
#########

## Enable mouse for selection
set -g mouse on

## Enable mouse scrolling
bind -n WheelUpPane if-shell -F -t = "#{mouse_any_flag}" "send-keys -M" "if -Ft= '#{pane_in_mode}' 'send-keys -M' 'copy-mode -e; send-keys =M'"

############## 
# Prefix key #
##############

#  Default: C-b (CTRL+b)
#  Uncomment the 'unbind C-b' line below, then the following lines that set
#  the prefix option and bind the key
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

############
# Keybinds #
############

## Show tmux keybinds cheatsheet
bind ? list-keys

## Switch between windows
bind p previous-window
bind n next-window

## Reload tmux config with C-R
bind R source-file '{{ .chezmoi.homeDir }}/.tmux.conf'

## Change split keybinds to | for vertical and _ for horizontal
# bind-key | split-window -h -c "#{pane_current_path}"
# bind-key _ split-window -v -c "#{pane_current_path}"

#  Unbind % and " keys when using the above keybinds
# unbind '"'
# unbind %

## Vim-style pane movement
bind-key -r h select-pane -L
bind-key -r j select-pane -D
bind-key -r l select-pane -R
bind-key -r k select-pane -U

## Arrow key pane movement
bind-key Up select-pane -U
bind-key Down select-pane -D
bind-key Left select-pane -L
bind-key Right select-pane -R

## Window movements
bind-key L last-window
bind-key -r C-h select-window -t :-
bind-key -r C-l select-window -t :+

## Word separators for automatic word selection
set-window-option -g word-separators ' @"=()[]'

##############
# Status bar #
##############

if-shell '[ -f {{ .chezmoi.homeDir }}/.config/tmux/statusbar.conf ]' 'source-file {{ .chezmoi.homeDir }}/.config/tmux/statusbar.conf'

###########
# Plugins #
###########

## Tmux Resurrect
#  https://github.com/tmux-plugins/tmux-resurrect
set -g @plugin 'tmux-plugins/tmux-resurrect'

## Tmux Continuum https://github.com/tmux-plugins/tmux-continuum
set -g @plugin 'tmux-plugins/tmux-continuum'
#  Restore last session when tmux is started
set -g @continuum-boot 'on'
#  Terminal window to fullscreen
set -g @continuum-boot-options 'fullscreen'

## Mode indicator
#  https://github.com/MunifTanjim/tmux-mode-indicator
set -g @plugin 'MunifTanjim/tmux-mode-indicator'

## Suspend
#  https://github.com/MunifTanjim/tmux-suspend
set -g @plugin 'MunifTanjim/tmux-suspend'
## Default: 'F12'
set -g @suspend_key 'F12'

## Tea
#  https://github.com/2kabhishek/tmux-tea
set -g @plugin '2kabhishek/tmux-tea'

## Tmux menus
#  https://github.com/jaclu/tmux-menus
set -g @plugin 'jaclu/tmux-menus'
# set -g @menus_trigger 'x'
set -g @menus_location_x 'C'
set -g @menus_location_y 'C'

## Smooth scrolling
#  https://github.com/azorng/tmux-smooth-scroll
set -g @plugin 'azorng/tmux-smooth-scroll'

## Speed: 0-1000 | lower = faster
set -g @smooth-scroll-speed "100"

## Easing mode: linear|sine|quad
set -g @smooth-scroll-easing "sine"

## Scroll line distance
set -g @smooth-scroll-normal "3"
set -g @smooth-scroll-halfpage ""  # Default: pane_height / 2
set -g @smooth-scroll-fullpage ""  # Default: pane_height

## Enable on mouse wheel scroll
set -g @smooth-scroll-mouse "true"

## Auto-exit copy mode when scrolling past the bottom
set -g @smooth-scroll-exit-copy-mode-at-bottom "false"

## Simple git status
#  https://github.com/kristijanhusak/tmux-simple-git-status
set -g @plugin 'kristijanhusak/tmux-simple-git-status'

## Tmux filter (search for text in buffer)
#  https://github.com/MaximilianGaedig/tmux-filter
# set -g @plugin 'MaximilianGaedig/tmux-filter'

####################
# Plugins - Themes #
####################

## Oaisis theme
# set -g @plugin 'uhs-robert/tmux-oasis'
## Default: "lagoon_dark"
#  All styles: https://github.com/uhs-robert/tmux-oasis?tab=readme-ov-file#view-all-theme-styles
# set -g @oasis_flavor "lagoon_dark"

## tmux2k
#  https://github.com/2kabhishek/tmux2k
set -g @plugin '2kabhishek/tmux2k'
## Themes: https://github.com/2KAbhishek/tmux2k#-available-themes
set -g @tmux2k-theme 'monokai'
## true=show icons only, no backgrounds
set -g @tmux2k-icons-only true
## set refresh rate
set -g @tmux2k-refresh-rate 5

## Set bar icons
set -g @tmux2k-left-plugins "session git cwd"
set -g @tmux2k-right-plugins "time cpu ram network"

## Powerline
#  https://github.com/erikw/tmux-powerline
#
#  Before using, make sure to generate a config with:
#    ~/.config/tmux/plugins/tmux-powerline/generate_config.sh
#    mv ~/.config/tmux-powerline/config.sh.default ~/.config/tmux-powerline/config.sh
#    $EDITOR ~/.config/tmux-powerline/config.sh
# set -g @plugin 'erikw/tmux-powerline'

## -----------------------------------------------------------------------------------------------------------------------------------
#  LEAVE EVERYTHING BELOW THIS LINE AT THE BOTTOM OF THE FILE
## -----------------------------------------------------------------------------------------------------------------------------------

## Set path to tmux plugins
setenv -g TMUX_PLUGIN_MANAGER_PATH "{{ .chezmoi.homeDir }}/.tmux/plugins/"

## Automatically install tpm if it's not present.
#  You can also install tpm manually with:
#    git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
# if "test ! -d {{ .chezmoi.homeDir }}/.tmux/plugins/tpm" \
#   "run-shell 'git clone https://github.com/tmux-plugins/tpm {{ .chezmoi.homeDir }}/.tmux/plugins/tpm'"

## Only load tpm if it's installed
if-shell 'test -f {{ .chezmoi.homeDir }}/.tmux/plugins/tpm/tpm' \
  'run {{ .chezmoi.homeDir }}/.tmux/plugins/tpm/tpm'
