##
# Clipboard
##

## Disable system keyboard and use a helper script
set -s set-clipboard off

## Use helper script for clipboard
set -s copy-command "{{ .chezmoi.homeDir }}/.config/tmux/bin/clipboard copy"

## Use clipboard helper for paste from system
bind-key p run-shell -b "{{ .chezmoi.homeDir }}/.config/tmux/bin/clipboard paste | tmux load-buffer - ; tmux paste-buffer"

##
# Terminal
##

##
# Mouse
##

## Enable mouse for selection
set -g mouse on

##
# Keybinds
##

## Prefix key
#  Default: C-b (CTRL+b)
#  Uncomment the 'unbind C-b' line below, then the following lines that set
#  the prefix option and bind the key
# unbind C-b
# set-option -g prefix C-a
# bind-key C-a send-prefix

## Switch between windows
bind C-p previous-window
bind C-n next-window

## Reload tmux config with C-R
bind R source-file '{{ .chezmoi.homeDir }}/.tmux.conf'

## Vi copy-mode bindings that yank to system clipboard
bind-key -T copy-mode-vi y send-keys -X copy-pipe-and-cancel \
  "{{ .chezmoi.homeDir }}/.config/tmux/bin/clipboard copy"
bind-key -T copy-mode-vi Enter send-keys -X copy-pipe-and-cancel \
  "{{ .chezmoi.homeDir }}/.config/tmux/bin/clipboard copy"

## Vi‑style paste from tmux buffer
bind-key -T copy-mode-vi p paste-buffer

## Mouse drag in copy mode also yanks to system clipboard
bind-key -T copy-mode-vi MouseDragEnd1Pane \
  send-keys -X copy-selection-and-cancel \; \
  run-shell -b "{{ .chezmoi.homeDir }}/.config/tmux/bin/clipboard copy"

