## Functions/vars in this file will be loaded very early in the .zshrc

dedup_path() {
  local -a split_path new_path
  local dir
  local -A seen

  ## Split $PATH on spaces (to catch any broken assignments)
  for dir in ${(s: :)PATH}; do
    ##For each, split on colons
    for dir2 in ${(s/:/)dir}; do
      [[ -z "$dir2" || -n "${seen[$dir2]}" ]] && continue
      seen[$dir2]=1
      new_path+="$dir2"
    done
  done

  export PATH="${(j/:/)new_path}"
  path=("${(@)new_path}")
}

add_to_path() {
  case ":$PATH:" in
    *":$1:"*) ;;
    *) export PATH="$PATH:$1" ;;
  esac
}