## Reload your shell
alias reload="exec $SHELL"

## Automatically create child paths with mkdir
alias mkdir='mkdir -pv'

## get dir/file's chmod
alias getchmod="stat --format '%a' "

## ls aliases
alias l='ls -CF'
alias ll='ls -laF --color=auto'
alias lsa="ls -A --color=auto"
alias lsl="ls -l --color=auto"
alias lsla="ls -la --color=auto"

alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

## Tmux
alias tmuxls='tmux ls'
alias tmuxa='tmux a -t $1'

## Neovim/nvim
alias nvimi="nvim --headless '+Lazy sync +qa'"
alias nvimu="nvim --headless '+Lazy update +qa'"
alias snvim="sudo -E nvim"

## Lazygit
alias lg="lazygit "

## Curl & display public IP
alias myip="curl http://ipecho.net/plain; echo"
