function clear_zsh_history() {
  ## Confirm with the user
  read "reply?This will erase all your zsh history. Are you sure? [y/N] "
  
  if [[ "$reply" =~ ^[Yy]$ ]]; then
    echo "Clearing history file: ${HISTFILE:-{{ .chezmoi.homeDir }}/.zsh_history} ..."
    
    ## Clear history file
    rm "${HISTFILE:-{{ .chezmoi.homeDir }}/.zsh_history}"
    touch "${HISTFILE:-{{ .chezmoi.homeDir }}/.zsh_history}"
    
    ## Clear in-memory history
    fc -p
    
    ## Reload history
    echo "Reloading history ..."
    fc -R
    
    echo "Zsh history cleared. Shell will be reloaded"

    exec $SHELL
  else
    echo "Aborted."
  fi
}
