HISTFILE=~/.zsh_history

## Change the command execution timestamp shown in the history command output.
#  You can set one of the optional three formats:
#  "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
#  or set a custom format using the strftime function format specifications,
#  see 'man strftime' for details.
HIST_STAMPS="yyyy-mm-dd"

## Set history size
HISTSIZE=10000
SAVEHIST=10000

## Ensure new sessions append, instead of overwrite, history
setopt APPEND_HISTORY
## Write commands to the history file as soon as they're entered
setopt INC_APPEND_HISTORY
## Merge history across sessions
setopt SHARE_HISTORY
