export XDG_CONFIG_HOME="$HOME/.config"

## Set editor dynamically
if command -v nvim > /dev/null 2>&1; then
  export VISUAL="nvim"
elif command -v vim > /dev/null 2>&1; then
  export VISUAL="vim"
elif command -v nano > /dev/null 2>&1; then
  export VISUAL="nano"
elif command -v vi > /dev/null 2>&1; then
  export VISUAL="vi"
fi
## Set the $EDITOR value
export EDITOR="$VISUAL"

export LC_ALL="en_US.UTF-8"
## Append -R to less commands
export LESS="-R"

## Make user default owner of files created as that user
umask 022

## Only set TERM if not already set by the terminal
if [[ -z "$TERM" || "$TERM" == "dumb" ]]; then
  export TERM="xterm-256color"
fi
