# yaml-language-server: $schema=https://creativeprojects.github.io/resticprofile/jsonschema/config.json
---
version: "1"

###
# Practical starting point for workstation/homelab backups.
#
# To use this profile as-is, copy it to {{ .chezmoi.homeDir }}/profiles.yaml,
# or pass it with `resticprofile -c /path/to/default.yaml`
###

default:
  default-command: backup
  initialize: false
  priority: low
  min-memory: 100

  ## Path must exist ahead of time. If you don't want to run resticprofile as root,
  #  make sure it's owned by the user running resticprofile, i.e.
  #  chmod 700 /opt/restic  (if repository is /opt/restic/repo)
  repository: "local:/opt/restic/repo"
  ## Create a password with:
  #    $> resticprofile generate --random-key $KEY_LENGTH > /path/to/main.key
  password-file: "{{ .chezmoi.homeDir }}/.restic/main.key"
  
  ## Define backup retention policy
  #  https://creativeprojects.github.io/resticprofile/schedules/index.html
  forget:
    keep-last: 2
    keep-hourly: 48
    keep-daily: 14
    keep-weekly: 4
    keep-tag:
      - forever
    prune: true

  ## Define pruning policy
  #  https://creativeprojects.github.io/resticprofile/reference/profile/prune/index.html
  prune:
    schedule: "weekly"
    schedule-permission: "auto"

  ## Backup operation defaults
  #  https://creativeprojects.github.io/resticprofile/reference/profile/backup/index.html
  backup:
    verbose: false
    one-file-system: false
    read-concurrency: 4
    skip-if-unchanged: true
    exclude:
      - ".tmp/"
      - ".cache/"
    exclude-file:
      - "{{ .chezmoi.homeDir }}/.restic/ignores/default"
    exclude-cloud-files: true
    group-by: "tags,host,paths"
    ## Wait for existing repo operations instead of failing immediately
    schedule-lock-wait: 15m30s
    schedule-lock-mode: default
    schedule-priority: "standard"

  ## Checks the repository for errors
  #  https://creativeprojects.github.io/resticprofile/reference/profile/check/index.html
  check:
    schedule: "weekly"
    schedule-after-network-online: false
    schedule-ignore-on-battery: false
    schedule-ignore-on-battery-less-than: 20
    read-data: true
    with-cache: false

  ## Cache settings
  #  https://creativeprojects.github.io/resticprofile/reference/profile/cache/index.html
  cache:
    cleanup: false
    max-age: 30
    no-size: false

  no-error-on-warning: true

## Userland backup, for dirs/files user has permission to access without sudo
userland:
  inherit: default
  default-command: backup

  backup:
    verbose: true

    source:
      - "{{ .chezmoi.homeDir }}"
      - "/some/user/owned/path"
    exclude-file:
      - "{{ .chezmoi.homeDir }}/.restic/ignores/default"
      - "{{ .chezmoi.homeDir }}/.restic/ignores/home"

    schedule: "0,6,12,18:00"
    schedule-permission: "user"

  tags:
    - userland

## Privileged backup, for dirs/files that require sudo to access
system:
  inherit: default
  default-command: backup

  backup:
    verbose: true

    source:
      - "/etc/fstab"
      - "/etc/cron.d/"
      - "/etc/cron.daily"
      - "/etc/cron.hourly"
      - "/etc/cron.monthly"
      - "/etc/cron.weekly"
      - "/etc/cron.yearly/"
      - "/etc/ssh/sshd_config"
      - "/var/spool/cron/crontabs/"  # Debian
      - "/var/spool/cron/"  # RedHat

    schedule: "daily"
    schedule-permission: "system"

  tags:
    - system
    - privileged

