if command -v lazygit >/dev/null 2>&1; then
  alias lg="lazygit"
fi

if command -v lazydocker &>/dev/null; then
  alias lzd="lazydocker"
fi

if command -v zellij --help &>/dev/null; then
  alias zj="zellij"
fi

if command -v tmux --help &>/dev/null; then
  alias tm="tmux"
  alias tmuxls="tmux ls"
  alias tmls="tmux ls"
  alias tml="tmux ls"
  alias tmuxa="tmux a -t"
  alias tma="tmux a -t"
fi

