#######################################################################
# Source this file in your ~/.bashrc, ~/.bash_aliases, or ~/.profile. #
#   i.e. . ~/.bash_loader/main.sh                                     #
# What:                                                               #
#   This script dynamically adds functionality to your shell, based   #
#    on software installed & the presence of filepaths.               #
#                                                                     #
#   For example, this loader file will initialize tools like uv, nvm, #
#    etc. It can also inject aliases & export env vars based on the   #
#     existence of a .shell_env.extra file (you have to create this). #
#######################################################################

# ------------------------------------------------------------------- #

#############
# CONFIGURE #
#############

## Check for and source OS alias overrides
declare -a HOST_OS=( "ubuntu" "debian" "fedora" )
for OS in "${HOST_OS[@]}"
do
  [ -f ~/.bash_aliases_$OS_override ] && . ~/.bash_aliases_$OS_override
done

## Source bash_loader aliases
[ -f "$HOME/.bash_loader/aliases" ] && . "$HOME/.bash_loader/aliases"

## Source bash_loader env
[ -f "$HOME/.bash_loader/env" ] && . "$HOME/.bash_loader/env"

## Source bash_loader software inits
[ -f "$HOME/.bash_loader/software_inits" ] && . "$HOME/.bash_loader/software_inits"

## Source bash_loader functions
[ -f "$HOME/.bash_loader/functions" ] && . "$HOME/.bash_loader/functions"

## Source ~/.bashrc.local if it exists
[ -f $HOME/.bashrc.local ] && . "$HOME/.bashrc.local"



## KEEP THIS AT THE BOTTOM!
#  Remove duplicate entries in $PATH, preserving order
export PATH=$(echo "$PATH" | tr ':' '\n' | awk '!seen[$0]++' | paste -sd:)
