## Ensure ~/.local/share/bash-completions exists
[ ! -d "{{ .chezmoi.homeDir }}/.local/share/bash-completions" ] && mkdir -p "{{ .chezmoi.homeDir }}/.local/share/bash-completions" &>/dev/null

## -----------------------------------------------------------

## uv
if command -v uv &>/dev/null; then
  uv generate-shell-completion bash > "{{ .chezmoi.homeDir }}/.local/share/bash-completions/uv.bash"
fi

## NVM
if [[ -d "{{ .chezmoi.homeDir }}/.nvm" ]]; then
  ## Add nvm to shell
  export NVM_DIR="{{ .chezmoi.homeDir }}/.nvm"

  [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"
fi

## Resticprofile
if command -v resticprofile &>/dev/null; then
  resticprofile_complete="{{ .chezmoi.homeDir }}/.local/share/bash-completions/resticprofile.bash"
  [ ! -f "$resticprofile_complete" ] && resticprofile generate --bash-completion > "$resticprofile_complete"
fi

## Zellij
if command -v zellij &>/dev/null; then
  zellij_complete="{{ .chezmoi.homeDir }}/.local/share/bash-completions/zellij.bash"
  [ ! -f "$zellij_complete" ] && zellij setup --generate-completion bash > "$zellij_complete"
fi

## Syst
if command -v syst &>/dev/null; then
  syst_complete="{{ .chezmoi.homeDir }}/.local/share/bash-completions/syst.bash"
  [ ! -f "$syst_complete" ] && syst completion bash > "$syst_complete"
fi

## Gitid
if command -v gitid &>/dev/null; then
  gitid_complete="{{ .chezmoi.homeDir }}/.local/share/bash-completions/gitid.bash"
  [ ! -f "$gitid_complete" ] && complete -C {{ .chezmoi.homeDir }}/.local/bin/gitid gitid > "$gitid_complete"
fi

## Terraform
if command -v terraform &>/dev/null; then
  terraform_completion="{{ .chezmoi.homeDir }}/.local/share/bash-completions/terraform.bash"
  [ ! -f "$terraform_completion" ] && terraform -install-autocomplete
fi

## OpenTofu
if command -v opentofu &>/dev/null; then
  opentofu_completion="{{ .chezmoi.homeDir }}/.local/share/bash-completions/opentofu.bash"
  [ ! -f "$opentofu_completion" ] && opentofu completion bash > "$opentofu_completion"
fi


## -----------------------------------------------------------

## Source completions
for completion in "{{ .chezmoi.homeDir }}/.local/share/bash-completions/"*.bash; do
  ## avoid globbing literal if no files (optional, defensive)
  [ -f "$completion" ] && source "$completion"
done

