## Pyenv
if command -v pyenv > /dev/null 2>&1; then
  export PATH="{{ .chezmoi.homeDir }}/.pyenv/bin:$PATH"
  eval "$(pyenv init -)"
  eval "$(pyenv virtualenv-init -)"
fi

## NVM
# if command -v nvm > /dev/null 2>&1; then
#   export NVM_DIR="{{ .chezmoi.homeDir }}/.nvm"
#   [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
#   [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion
# fi
if [[ -d "{{ .chezmoi.homeDir }}/.nvm" ]]; then
  ## Add nvm to shell
  export NVM_DIR="{{ .chezmoi.homeDir }}/.nvm"
  ## Load nvm
  [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
  ## This loads nvm bash_completion
  # [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  ## This loads nvm bash_completion
fi

## Enable x-cmd if it's installed
[ ! -f "{{ .chezmoi.homeDir }}/.x-cmd.root/X" ] || . "{{ .chezmoi.homeDir }}/.x-cmd.root/X"

## Homebrew
if [[ -f "/home/linuxbrew/.linuxbrew/bin/brew" ]]; then
    eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
    # Disable Homebrew analytics
    export HOMEBREW_NO_ANALYTICS=1

    export PATH="/home/linuxbrew/.linuxbrew/bin:$PATH"
fi

## Go

## Add optional gobins directories
[[ -d /opt/gobins ]] && export PATH="$PATH:/opt/gobins"
[[ -d "{{ .chezmoi.homeDir }}/gobins" ]] && export PATH="$PATH:{{ .chezmoi.homeDir }}/gobins"
[[ -d "{{ .chezmoi.homeDir }}/.gobins" ]] && export PATH="$PATH:{{ .chezmoi.homeDir }}/.gobins"

## Add chezmoi to PATH
if [[ -f {{ .chezmoi.homeDir }}/.local/bin/chezmoi ]]; then
  export PATH="$PATH:{{ .chezmoi.homeDir }}/.local/bin"
elif [[ -f {{ .chezmoi.homeDir }}/bin/chezmoi ]]; then
  # This is chezmoi's default path
  export PATH="$PATH:{{ .chezmoi.homeDir }}/bin"
fi

## Dotnet
if [[ -d "{{ .chezmoi.homeDir }}/.dotnet" ]]; then
  export DOTNET_TOOLS="{{ .chezmoi.homeDir }}/.dotnet/tools"
  export PATH="$PATH:$DOTNET_TOOLS"
fi

## Direnv
if command -v direnv &>/dev/null; then
  eval "$(direnv hook bash)"
fi

## LM Studio
if [[ -d "{{ .chezmoi.homeDir }}/.lmstudio" ]]; then
  export PATH="$PATH:{{ .chezmoi.homeDir }}/.lmstudio/bin"
fi

## Yazi
if command -v yazi &>/dev/null; then
  alias y="yazi "
fi

## GoEnv
if [[ -d "{{ .chezmoi.homeDir }}/.goenv" ]]; then
  export GOENV_ROOT="{{ .chezmoi.homeDir }}/.goenv"
  export PATH="$GOENV_ROOT/bin:$PATH"

  eval "$(goenv init -)"
fi

## Terraform
if command -v terraform &>/dev/null; then
  alias tf="terraform "
fi

## Terragrunt
if command -v terragrunt &>/dev/null; then
  alias tg="terragrunt"
fi

## Mise
if command -v mise &>/dev/null; then
  eval "$(/usr/local/bin/mise activate bash)"
fi

## IntelliShell
if [[ -d "{{ .chezmoi.homeDir }}/.local/share/intelli-shell" ]]; then
  export INTELLI_HOME="{{ .chezmoi.homeDir }}/.local/share/intelli-shell"
  # export INTELLI_SEARCH_HOTKEY=\\C-@
  # export INTELLI_VARIABLE_HOTKEY=\\C-l
  # export INTELLI_BOOKMARK_HOTKEY=\\C-b
  # export INTELLI_FIX_HOTKEY=\\C-x
  # export INTELLI_SKIP_ESC_BIND=0

  # alias is="intelli-shell"

  export PATH="$INTELLI_HOME/bin:$PATH"

  eval "$(intelli-shell init bash)"
fi

## Atuin
if [[ -d "{{ .chezmoi.homeDir }}/.atuin" ]]; then
  if command -v atuin &>/dev/null; then
    export PATH="{{ .chezmoi.homeDir }}/.atuin:$PATH"

    . "$HOME/.atuin/bin/env"

    [[ -f ~/.bash-preexec.sh ]] && source ~/.bash-preexec.sh
    eval "$(atuin init bash)"
  fi
fi

## k0s
if command -v k0s &>/dev/null; then
  alias k="sudo k0s"
  alias kc="sudo k0s kubectl"
fi

