## https://docs.atuin.sh/configuration/config/

# Path to atuin SQLite database
db_path = "{{ .chezmoi.homeDir }}/.local/share/atuin/history.db"

# Path to Atuin encryption key
key_path = "{{ .chezmoi.homeDir}}/.local/share/atuin/key"

# Path to Atuin session file
session_path = "{{ .chezmoi.homeDir }}/.local/sharee/atuin/session"

# Enable/disable auto synching when logged in
auto_sync = true

# Enable checking for updates automatically
update_check = true

# URL for Atuin server, i.e. if self-hosting.
#   Default: https://api.atuin.sh
sync_address = "https://api.atuin.sh"

# Human-readable synch schedule, i.e. 10s, 20m, 1h, etc
sync_frequency = "1h"

# Search mode options: prefix, fulltext, fuzzy (default), skim
search_mode = "fuzzy"

# Default filter when searching. Options:
#   global (default, search all), host, session, directory, workspace
filter_mode = "global"

# Search mode when using up arrow
search_mode_shell_up_key_binding = "fuzzy"

# Filter mode when using up key
filter_mode_shell_up_key_binding = "global"

# Which UI style to use. Options: auto, full, compact (default)
style = "compact"

# Put search bar at top when true
invert = false

# Maximum line height for atuin window
inline_height = 40

# Show preview of selected text
show_preview = true

# Maximum rows for preview window
max_preview_height = 4

# Keep specific commands out of history
#   https://docs.atuin.sh/configuration/config/#history_filter
history_filter = []

# Exclude directories from history tracking
#   Note that these regular expressions are unanchored, i.e. if they don't start
#   with ^ or end with $, they'll match anywhere in the command.
cwd_filter = []

# Whether to store commands that returned a non-zero exit code
store_failed = true

# Don't save patterns that match pre-defined regex that looks like a secret
secrets_filter = true

# Enable command chaining with && / ||
command_chaining = true

# Press enter on a search result to immediately execute selected command
enter_accept = false

# Keymap mode for interactive search. Options: emacs (default), vim-normal, vim-insert, auto
keymap_mode = "vim-normal"

# Dict mapping defining cursors for each mode. Cursor styles are "blink-block" and "steady-block"
keymap_cursor = { emacs = "blink-block", vim_insert = "steady-block", vim_normal = "steady-block" }

# Reduce as much TUI motion as possible
prefers_reduced_motion = false

