[user_interface]
text_editor = "{{ if (env "EDITOR") }}{{ env "EDITOR" }}{{ else }}nano{{ end }}"
default_protocol = "SFTP"
show_hidden_files = true
check_for_updates = true
prompt_on_file_replace = true
notifications = true
notification_threshold = 536870912

[remote]
ssh_config = "/home/{{ .chezmoi.username }}/.ssh/config"

[remote.ssh_keys]
