.bash_history
.BitwigStudio
.cache/
.dbus/
.eclipse/
.ipython/
.java/
.npm/
thinclient_drives/
.Xauthority
.Xclients
.xsession-errors
pCloudDrive
.codeium/
.lmstudio/
.config/Code/
.go/
.local/share/*

Documents/*
Downloads/
Music/
Pictures/
Videos/

## Ignore symlinks
ansible_homelab/
backup/
git/

!Downloads/
!Downloads/_keep/

!.local/share/
!.local/share/chezmoi/
!.local/share/Enpass/
!.local/share/kwalletd/
!.local/share/Steam/
!.local/share/
!.local/share/plasma/
!.local/share/kde6/
!.local/share/kate/
!.local/share/gnome-shell
## Don't ignore resticprofile profiles.yaml
!profiles.yaml

