.ansible/
.bash_history
Astral Ascent/
Streets of Rogue/
.BitwigStudio
.cache/
.cargo/
.dbus/
.eclipse/
.ipython/
.java/
.npm/
thinclient_drives/
.Xauthority
.Xclients
.xsession-errors
pCloudDrive/
.codeium/
.lmstudio/
.config/Code/
.go/
.local/share/
.config/discord/
.minecraftx/
.minecraft/
.nvm/
.pcloud/
.rustup/
.trash/
.wine/

Documents/
Downloads/
Games/
Music/
Pictures/
Videos/

## Ignore symlinks
ansible_homelab/
backup/
git/

!Downloads/
!Downloads/_keep/

## Don't ignore resticprofile profiles.yaml
!profiles.yaml
