## This file looks for a .resticr.local in this path.
#  If that file exists, it sources values from it. You
#  can use the .local version to store sensitie or machine-specific values.

export RESTIC_REPOSITORY_FILE="/home/{{ env "USER" }}/.restic/repo_path"

## Check for .resticrc.local
[[ -f "~/.resticrc" ]] && . "~/.resticrc"
[[ -f "~/.resticrc.local" ]] && . "~/.resticrc.local"
[[ -f "~/.restic/.resticrc.local" ]] && . "~/.restic/.resticrc.local"
